
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="appointment.css" />
    <title>Seniors | HealthCare</title>
  </head>
  <body>
    <header>
      <div class="section__container header__container">
        <div class="header__content">
          <h1>Ensuring an Exceptional Experience for Senior Patients</h1>
        </div>
        <div class="header__form">
          <form method="post" action="/patient">
            <h4>Book Now</h4>
            <input type="text" placeholder="Name" name="name" />
            <input type="text" placeholder="E-mail" name="email" />
            <input type="number" placeholder="Age" name="age"/>
            <input type="tel"  placeholder="Phone No" name="phone"/>
            <input type="text" placeholder="Address" name="address"/>
            <button class="btn form__btn">Book Appointment</button>
          </form>
        </div>
      </header>
    </body>
    </html>