<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteer Registration</title>
  <link rel="stylesheet" href="vol.css">
</head>
<body>
  <div class="container">
    <h1>Volunteer Registration Form</h1>
    <div class="form-box">
      <form method="post" action="/volunteer/data" id="volunteer-form">
        <div class="form-group">
          
          <input type="text" placeholder="name" id="name" name="name" >
        </div>
        <div class="form-group">
          
          <input placeholder="email" type="email" id="email" name="email">
        </div>
        <div class="form-group">
          
          <input type="number" placeholder="age" id="age" name="age">
        </div>
        <div class="form-group">
          
          <input type="tel" placeholder="phone" id="phone"  name="phone">
        </div>
        <div class="form-group">
        </div>
        <button type="submit">Submit</button>
      </form>

</body>
</html>
